@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.body {
  background-color: black;
  color: white;
}

.h1 {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
}

body{
  margin: 0;
  font-family:cursive;
}
#background-panel{
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#background-panel > div {
  background-color: silver;
  margin: 15px;
  border-radius: 4px;
  flex: 2;
}

#background-panel > div:hover{
  background-color:lightslategray;
}

#background-panel > div:active{
  background-color:white;
}